{{define "content"}}
<link rel="stylesheet" type="text/css" href="/static/app_nakladn/site_1_style.css" />
<form method="POST" action="continue">
    <div class="main_body">
        <div class="left_side">
            <div>Кому:</div>
            <div>От кого:</div>
            <div>Назначение:</div>
            <div>Объект проведения работ:</div>
            <div>Направление:</div>
            <div>Дата создания документа:</div>
            <div>Дата ввоза/вывоза:</div>
            <div>Отпуск разрешил:</div>
            <div>Наличие проверил:</div>
            <div>Отпустил:</div>
            <div>Получил:</div>
        </div>

        <div class="right_side">
            <div><input type="text" name="entry_for_whom" required list="entry_for_whom" autocomplete="off" value="{{.Data2.For_whom}}"></div>
            <datalist id="entry_for_whom">
                {{ range .Data1.For_whom }}
                <option value="{{ . }}">{{ . }}</option>
                {{ end }}
            </datalist>
            <div><input type="text" name="entry_from_whom" required list="entry_from_whom" autocomplete="off" value="{{.Data2.From_whom}}"></div>
        <datalist id="entry_from_whom">
            {{ range .Data1.From_whom }}
            <option value="{{ . }}">{{ . }}</option>
            {{ end }}
        </datalist>

        <div><input type="text" name="entry_for_what" required list="entry_for_what" autocomplete="off" value="{{.Data2.For_what}}"></div>
            <datalist id="entry_for_what">
                {{ range .Data1.For_what }}
                <option value="{{ . }}">{{ . }}</option>
                {{ end }}
            </datalist>

        <div><input type="text" name="entry_where" required list="entry_where" autocomplete="off" value="{{.Data2.Where}}"></div>
        <datalist id="entry_where">
            <option value="Администрация">Администрация</option>
            <option value="Аракуловское ЛПУМГ">Аракуловское ЛПУМГ</option>
            <option value="Дюртюлинское ЛПУМГ">Дюртюлинское ЛПУМГ</option>
            <option value="ИТЦ">ИТЦ</option>
            <option value="Кармаскалинское ЛПУМГ">Кармаскалинское ЛПУМГ</option>
            <option value="Полянское ЛПУМГ">Полянское ЛПУМГ</option>
            <option value="Приютовское ЛПУМГ">Приютовское ЛПУМГ</option>
            <option value="Сибайское ЛПУМГ">Сибайское ЛПУМГГ</option>
            <option value="Стерлитамакское ЛПУМГ">Стерлитамакское ЛПУМГ</option>
            <option value="УАВР">УАВР</option>
            <option value="УМТСиК">УМТСиК</option>
            <option value="УС">УС</option>
            <option value="УТТиСТ">УТТиСТ</option>
            <option value="Ургалинское ЛПУМГ">Ургалинское ЛПУМГ</option>
            <option value="Шаранское ЛПУМГ">Шаранское ЛПУМГ</option>
        </datalist>
        <div>
            <select name="select_direction">
                <option value="ввоза">Ввоз</option>
                <option value="вывоза">Вывоз</option>
            </select>
        </div>
        <div><input type="date" name="date_today" required id="date_today" autocomplete="off" value="{{.Data3}}"></div>
        <div><input type="date" name="date_of_getout" required id="date_of_getout" autocomplete="off" value="{{.Data3}}"></div>
        <div>
            <div>
                <input type="text" name="entry_person_status_permitted" list="entry_person_status_permitted"
                    autocomplete="off" value="{{.Data2.Person_status_permitted}}">
                <datalist id="entry_person_status_permitted">
                    {{ range .Data1.Person_status_permitted }}
                    <option value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </datalist>
                <input type="text" name="entry_person_name_permitted" list="entry_person_name_permitted"
                    autocomplete="off" value="{{.Data2.Person_name_permitted}}">
                <datalist id="entry_person_name_permitted">
                    {{ range .Data1.Person_name_permitted }}
                    <option value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </datalist>
            </div>
        </div>

        <div>
            <div>
                <input type="text" name="entry_person_status_presense" list="entry_person_status_presense"
                    autocomplete="off" value="{{.Data2.Person_status_presense}}">
                <datalist id="entry_person_status_presense">
                    {{ range .Data1.Person_status_presense }}
                    <option value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </datalist>
                <input type="text" name="entry_person_name_presense" list="entry_person_name_presense"
                    autocomplete="off" value="{{.Data2.Person_name_presense}}">
                <datalist id="entry_person_name_presense">
                    {{ range .Data1.Person_name_presense }}
                    <option value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </datalist>
            </div>
        </div>

        <div>
            <div>
                <div>
                    <input type="text" name="entry_person_status_gave" list="entry_person_status_gave"
                        autocomplete="off" value="{{.Data2.Person_status_gave}}">
                    <datalist id="entry_person_status_gave">
                        {{ range .Data1.Person_status_gave }}
                        <option value="{{ . }}">{{ . }}</option>
                        {{ end }}
                    </datalist>
                    <input type="text" name="entry_person_name_gave" list="entry_person_name_gave"
                        autocomplete="off" value="{{.Data2.Person_name_gave}}">
                    <datalist id="entry_person_name_gave">
                        {{ range .Data1.Person_name_gave }}
                        <option value="{{ . }}">{{ . }}</option>
                        {{ end }}
                    </datalist>
                </div>
            </div>
        </div>

        <div>
            <div>
                <div>
                    <input type="text" name="entry_person_status_got" list="entry_person_status_got"
                        autocomplete="off" value="{{.Data2.Person_status_got}}">
                    <datalist id="entry_person_status_got">
                        {{ range .Data1.Person_status_got }}
                        <option value="{{ . }}">{{ . }}</option>
                        {{ end }}
                    </datalist>
                    <input type="text" name="entry_person_name_got" list="entry_person_name_got" 
                        autocomplete="off" value="{{.Data2.Person_name_got}}">
                    <datalist id="entry_person_name_got">
                        {{ range .Data1.Person_name_got }}
                        <option value="{{ . }}">{{ . }}</option>
                        {{ end }}
                    </datalist>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div>
        <br />
    </div>
    <div class="bottom">
        <div>
            <div class="button1">
                <button type="submit">Продолжить</button>
            </div>
        </div>
    </div>
</form>
{{end}}


<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>АвтоНакладная</title>
        <link rel="stylesheet" type="text/css" href="/templates/site_1_style.css" />    
    </head>    
    
</html> -->