div{
    height: auto;
    min-height: 35px;
}
.main_body{
    display: flex;
    justify-content: center;
    height: auto;
}
.left_side{
    width: auto;
    height: auto;
    margin: 5px;
}
.left_side div {
    max-height: 30px;
}
.right_side{
    width: auto;
    margin: 5px;
}
.right_side div{
    max-height: 30px;
}
.bottom{ 
    display: flex;
    justify-content: center;
    height: auto;
}
input{
    width: 300px;
    height: 30px;
    font-size: 14px;
    font-weight: 300;
    color: black;
    box-sizing: border-box;
    border: 1px solid #4682B4;
    background: #f2f2f2;
    padding: 0 10px;
    border-radius: 3px;
}
button{
    width: 300px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border: 0px;
    background: rgba(91,120,158,1) 100%;
    border-radius: 3px;
    margin: 5px;
}
table {
    border: 0px;
    border-collapse: collapse;
    width: 180mm;
    background: #f2f2f2;
    font-size: 14px;
    color: black;
}
.bottom_table {
    display: flex;
    justify-content: center;
    height: auto;
}
th {
    border: 0px;
}
td {
    border: 0px;
}